@import '~bulma/bulma.sass';
@import './variables.scss';

html {
  font-family: $secondary-font;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  font-family: $secondary-font;
  margin: 0;
  padding: 0;
  height: 100%;
}

.main-layout {
  min-height: 100vh; /* will cover the 100% of viewport */
  overflow: hidden;
  display: block;
  position: relative;
}
h1 {
  font-family: $primary-font;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: $primary-text-color;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 2.25rem;
  line-height: 1.1;
}

p {
  font-family: $secondary-font;
  font-size: 1.2rem;
}

nav {
  font-family: $primary-font;
  background-color: #fafafa !important;
}

.navbar-item:hover {
  background-color: #19bd9e !important;
  color: whitesmoke !important;
}
.menu-padding {
  padding: 1.5rem 2rem;
}

.navbar-end a {
  font-size: 1.5rem;
}
.is-primary {
  background: linear-gradient(-45deg, #db610f, #e54e72, #19bd9e, #108ab2);
  background-size: 400% 400%;
  -webkit-animation: Gradient 15s ease infinite;
  -moz-animation: Gradient 15s ease infinite;
  animation: Gradient 15s ease infinite;
}
@-moz-keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.intro-container {
  height: 80vh;
  z-index: -100;
  margin-top: -3vh;
}

.hero {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@keyframes sheen {
  0% {
    transform: skewY(-45deg) translateX(0);
  }
  100% {
    transform: skewY(-45deg) translateX(12.5em);
  }
}

.text-box {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  flex-direction: column;
  padding: 1rem;
  color: whitesmoke;
}

.text-box h1 {
  font-size: 2.2rem;
  color: whitesmoke;
}
.text-box h3 {
  font-size: 1.5rem;
}

.intro-button {
  margin: 2rem 1rem;
  padding: 0.5em 1.5em;
  background-color: transparent;
  text-align: center;
  text-decoration: none;
  color: $button-bg;
  border: 2px solid $button-bg;
  font-size: 24px;
  display: inline-block;
  border-radius: 0.3em;
  transition: all 0.2s ease-in-out;
  position: relative;
  overflow: hidden;

  &:before {
    content: '';
    background-color: rgba(199, 198, 198, 0.5);
    height: 100%;
    width: 3em;
    display: block;
    position: absolute;
    top: 0;
    left: -4.5em;
    transform: skewX(-45deg) translateX(0);
    transition: none;
  }
  &:hover {
    background-color: $button-bg;
    color: #fff;
    cursor: pointer;
    border-bottom: 4px solid darken($button-bg, 10%);
    &:before {
      transform: skewX(-45deg) translateX(13.5em);
      transition: all 0.5s ease-in-out;
    }
  }
}

.link {
  font-family: $primary-font;
  position: relative;
  font-size: 3rem;
  line-height: 1;
  color: $primary-text-color;
  display: inline-block;
}

.link--kukuri {
  overflow: hidden;
}

.link--kukuri:hover {
  color: #b2b0a9;
}

.link--kukuri::after {
  content: '';
  position: absolute;
  height: 0.8rem;
  width: 100%;
  top: 40%;
  margin-top: -0.5rem;
  right: 0;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  transform: translate3d(-100%, 0, 0);
  transition: transform 0.4s;
  transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
}

.link--kukuri:hover::after {
  transform: translate3d(100%, 0, 0);
}

/*text sliding*/

.link--kukuri::before {
  content: attr(data-letters);
  position: absolute;
  z-index: 2;
  overflow: hidden;
  white-space: nowrap;
  width: 0%;
  transition: width 0.4s 0.3s;
}

.link--kukuri:hover::before {
  width: 100%;
}

.section-title {
  font-family: $primary-font;
  display: flex;
  justify-content: center;
  align-items: center;
}
.title {
  color: #5c5858;
  font-size: 2.8rem !important;
  font-weight: 900;
  line-height: 1.125;
  text-align: center;
  padding-bottom: 1.5rem;
  padding-left: 1rem;
}

.about-container {
  justify-content: center;
  align-items: center;
}

.profile-container {
  justify-content: center;
}
.profile-img {
  width: 50%;
  height: 50%;
  height: auto;
}
.skill-container {
  padding-top: 0 !important;
}
.box {
  border-radius: 12px;
  background-color: #fff;
  box-shadow: 0 5px 5px 0 rgba(174, 180, 182, 0.8), 0 0 0 1px #e6ecf8;
  color: #293347;
  display: flex;
  h2,
  li {
    font-size: 1rem;
  }
  padding: 0, 1rem;
}

.image-container {
  display: flex;
  justify-content: center;
}

.list-title {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.project-grid {
  padding: 2rem 0;
}

.container:hover .overlay {
  opacity: 1;
}

.frame {
  text-align: center;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  //perspective: 500px;
}

.frame .details {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  width: 100%;
  height: 100%;
  padding: 5% 8%;
  position: absolute;
  content: '';
  top: 50%;
  left: 50%;
  -webkit-transition: all 0.45s ease-in-out;
  -moz-transition: all 0.45s ease-in-out;
  -o-transition: all 0.45s ease-in-out;
  -ms-transition: all 0.45s ease-in-out;
  transition: all 0.45s ease-in-out;
  background: rgba(35, 213, 171, 0.9);
  color: whitesmoke;
  opacity: 0;
}
.details p {
  font-size: 1.5rem;
}
.frame:hover .details {
  transform: translate(-50%, -50%) rotateY(0deg);
  opacity: 1;
}
#blogs {
  margin-bottom: 3rem;
  padding-top: 0rem;
}
.blog-section {
  justify-content: center;
}
.blog-container {
  box-shadow: 0px 3px 10px rgba(25, 17, 34, 0.3);
  padding: 1rem;
  border-radius: 4px;
  margin-bottom: 2rem;
}

.blog-content {
  padding: 1rem;
  color: $primary-text-color;
  h2 {
    margin-top: 1rem;
    font-size: 1.5rem;
    font-weight: bold;
  }
  p {
    font-size: 1rem;
  }
}

article {
  padding: 1.5rem;
}
.read-more {
  font-size: 0.5rem;
  text-decoration: underline;
  color: $primary-text-color;
}
.footer {
  //position: absolute;
  padding: 3rem 1.5rem;
  bottom: 0;
  display: flex;
  justify-content: center;
  width: 100%;
  //height: 3vh !important;
  span {
    margin-right: 1.2rem;
  }
  a {
    color: $grey-dark;
  }
  a:hover {
    color: #400101;
  }
  p {
    font-size: 1rem;
  }
}

.contact-container {
  margin-top: 6rem;
  padding: 2rem;
  border: solid 3px #400101;
  color: #400101;
}

.meida-container {
  padding: 0 1.5rem 1.5rem;
  display: flex;
  justify-content: center;
  width: 100%;
  span {
    margin-right: 1.2rem;
  }
  a {
    color: $grey-dark;
  }
  a:hover {
    color: #fff;
  }
}

.meida-container p {
  margin-bottom: 1rem;
}
.underline {
  border-bottom: solid 2px #400101;
  margin: -0.512em auto;
  width: 10vw;
}

input {
  line-height: normal;
}

textarea {
  overflow: auto;
}

form {
  padding: 2rem;
  margin: 3rem 0;
}

.message {
  float: none;
  background: white;
}

input[type='text'],
[type='email'],
[type='name'],
select,
textarea {
  background: none;
  border: none;
  border-bottom: solid 2px #400101;
  color: #400101;
  font-size: 1em;
  font-weight: 400;
  letter-spacing: 1px;
  margin: 0em 0 1.875em 0;
  padding: 0 0 0.875em 0;
  text-transform: uppercase;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

input[type='text']:focus,
[type='email']:focus,
textarea:focus {
  outline: none;
  padding: 0 0 0.875em 0;
}

.name {
  float: left;
  width: 45%;
}
.email {
  float: right;
  width: 45%;
}

#form_button {
  background: none;
  border: solid 2px #474544;
  color: $primary-text-color;
  cursor: pointer;
  display: inline-block;
  font-family: 'Helvetica', Arial, sans-serif;
  font-size: 0.875em;
  font-weight: bold;
  outline: none;
  padding: 1.5rem 2rem;
  text-transform: uppercase;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.tech-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 2rem;
}

.tech-items {
  padding: 2rem;
  span {
    font-size: 1.2rem;
    margin-right: 2rem;
    margin-top: 1rem;
    background: #eee;
    border-radius: 3px 0 0 3px;
    color: #999;
    display: inline-block;
    height: 26px;
    line-height: 26px;
    padding: 0rem 1.5rem 1rem 2rem;
    position: relative;
    margin: 0 10px 10px 0;
    text-decoration: none;
    -webkit-transition: color 0.2s;
  }
}

.tag::before {
  background: #fff;
  border-radius: 10px;
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
  content: '';
  height: 6px;
  left: 10px;
  position: absolute;
  width: 6px;
  top: 10px;
}

.tag::after {
  background: #fff;
  border-bottom: 13px solid transparent;
  border-left: 10px solid #eee;
  border-top: 13px solid transparent;
  content: '';
  position: absolute;
  right: 0;
  top: 0;
}

.tag:hover {
  background-color: #ee7752;
  color: white;
}

.tag:hover::after {
  border-left-color: #ee7752;
}

.page-container {
  padding: 2rem;
}
