@import '~bulma/bulma.sass';
@import './variables.scss';

html {
  font-family: $font;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  // background: #f2f3eb;
  font-family: $font;
  margin: 0;
}
h1 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  // font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  //   Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 2.25rem;
  line-height: 1.1;
}

.main-layout {
  margin: 4rem auto;
}
.site-header {
  background: #b5979a;
  color: #400101;
  display: flex;
  justify-content: space-around;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.header-container {
  margin: '0 auto';
  max-width: 960;
  padding: '1rem';
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-gap: 1.5rem;
  align-items: center;
}

nav {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  margin-left: 2.5rem;
}

nav a {
  list-style: none;
  font-size: 1.2rem;
  color: #400101;
}
.is-primary {
  //background-color: #b5979a;
  background: linear-gradient(-50deg, #654ea3, #eaafc8);
}

.into-container {
  // display: block;
  // width: 100vw;
  // text-align: center;
  // top: 25vh;
  // color: #400101;
  // position: absolute;
  // z-index: 2;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.box {
  border-radius: 12px;
  background-color: #fff;
  box-shadow: 0 5px 5px 0 rgba(233, 240, 243, 0.5), 0 0 0 1px #e6ecf8;
  color: #293347;
  display: flex;
}
.image-container {
  display: flex;
  justify-content: center;
}
.list-title {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.project-grid {
  padding: 2rem 0;
}
.project-container {
  position: relative;
}

.container:hover .overlay {
  opacity: 1;
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: rgba(181, 151, 154, 0.5);
  z-index: 1;
}
.image {
  display: block;
  width: 100%;
  height: auto;
}

.blog-container {
  box-shadow: 0px 3px 10px rgba(25, 17, 34, 0.05);
  padding: 1rem;
  border-radius: 4px;
  margin-bottom: 1rem;
}
.read-more {
  // font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  //   Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 0.8rem;
  text-decoration: underline;
  color: #524763;
}
.footer {
  position: absolute;
  color: #400101;
  bottom: 0;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 10rem;
  span {
    margin-right: 1.2rem;
  }
  a {
    color: $grey-dark;
  }
  a:hover {
    color: #400101;
  }
}

.contact-container {
  margin-top: 6rem;
  padding: 2rem;
  border: solid 3px #400101;
  color: #400101;
}

.meida-container {
  margin: 2rem 0;
  display: flex;
  justify-content: center;
  width: 100%;
  span {
    margin-right: 1.2rem;
  }
  a {
    color: $grey-dark;
  }
  a:hover {
    color: #400101;
  }
}
.underline {
  border-bottom: solid 2px #400101;
  margin: -0.512em auto;
  width: 10vw;
}

input {
  line-height: normal;
}

textarea {
  overflow: auto;
}

form {
  padding: 2rem;
  margin: 3rem 0;
}

.message {
  float: none;
  background: white;
}

input[type='text'],
[type='email'],
[type='name'],
select,
textarea {
  background: none;
  border: none;
  border-bottom: solid 2px #400101;
  color: #400101;
  font-size: 1em;
  font-weight: 400;
  letter-spacing: 1px;
  margin: 0em 0 1.875em 0;
  padding: 0 0 0.875em 0;
  text-transform: uppercase;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

input[type='text']:focus,
[type='email']:focus,
textarea:focus {
  outline: none;
  padding: 0 0 0.875em 0;
}

.name {
  float: left;
  width: 45%;
}
.email {
  float: right;
  width: 45%;
}

#form_button {
  background: none;
  border: solid 2px #474544;
  color: #474544;
  cursor: pointer;
  display: inline-block;
  font-family: 'Helvetica', Arial, sans-serif;
  font-size: 0.875em;
  font-weight: bold;
  outline: none;
  padding: 1.5rem 2rem;
  text-transform: uppercase;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.project-layout {
  margin-top: 6rem;
}

.tech-container {
  display: flex;
  justify-content: center;

  flex-wrap: wrap;
  width: 75%;
  margin: 2rem;
}
