@import url(https://fonts.googleapis.com/css?family=Poppins|Raleway:400);

$primary-font: 'Poppins', sans-serif;
$secondary-font: 'Raleway', sans-serif;
$button-bg: #01957f;
$button-text-color: whitesmoke;
$primary-text-color: #5c5858;
