@import url(https://fonts.googleapis.com/css?family=Poppins|Raleway:400);

$primary-font: 'Poppins', sans-serif;
$secondary-font: 'Raleway', sans-serif;
//$white: black;
$button-bg: #00d1b2;
$button-text-color: #fff;
$baby-blue: #f8faff;
$h-root: 180; // try changing this :) [0-360]
$c-primary: hsl($h-root, 60%, 30%);
$c-primary-text: #eee;
$c-secondary: hsl($h-root + -135, 80%, 60%);
$c-secondary-text: #111;
